<div class="cart-container">
    <h2>Carrito de Compras</h2>

    @if (shoppingCart().length === 0) {
    <div class="empty-cart-message">
        <p>Tu carrito está vacío. ¡Agrega una plataforma para comenzar!</p>
        <p>🛒</p>
    </div>
    } @else {

    @if (shoppingCart().length === 1) {
    <div class="discount-alert-message discount-hierarchy">
        <p>¡Solo tienes una cuenta! Agrega más para obtener un descuento:</p>
        <ul>
            <li>2 cuentas: 5% de descuento</li>
            <li>3 cuentas: 7% de descuento</li>
            <li>4 o más cuentas: 10% de descuento máximo</li>
        </ul>
    </div>
    } @else if (shoppingCart().length === 2) {
    <div class="discount-alert-message">
        <p>¡Ya tienes un {{ displayDiscountPercentage() }}% de descuento! Agrega una cuenta más y sube al 7%.</p>
        <p>Ó agrega 2 cuentas más y sube al 10%.</p>
    </div>
    } @else if (shoppingCart().length === 3) {
    <div class="discount-alert-message">
        <p>¡Tienes un {{ displayDiscountPercentage() }}% de descuento! Agrega una cuenta más para el 10% máximo.</p>
    </div>
    }
    <div class="cart-list">
        @for (item of shoppingCart(); track item.name) {
        <div class="cart-item">
            <img [src]="item.iconUrl" [alt]="item.name + ' Logo'" class="item-icon">
            <div class="item-details">
                <h4>{{ item.name }}</h4>
            </div>
            <span class="item-price">
                {{ item.price | currency:'$':'symbol':'1.0-0' }}
            </span>
            <button class="remove-button" (click)="removeFromCart(item)" title="Eliminar {{ item.name }}">
                &times; </button>
        </div>
        }
    </div>

    <div class="cart-summary">
        <p>Subtotal: <span>{{ subtotal() | currency:'$':'symbol':'1.0-0' }}</span></p>

        @if (hasDiscount()) {
        <p class="discount-line">
            Descuento ({{ displayDiscountPercentage() }}%):
            <span class="discount-value">- {{ discountAmount() | currency:'$':'symbol':'1.0-0' }}</span>
        </p>
        }

        <p class="total-line">
            Total a Pagar:
            <span>{{ total() | currency:'$':'symbol':'1.0-0' }}</span>
        </p>

        <button class="checkout-button" (click)="openPaymentModal()" [disabled]="total() === 0">
            Finalizar Compra</button>

        <div class="instructions-footer">
            <h4>Instrucciones Importantes</h4>
            <p>1. Envía la captura de pantalla del pago al WhatsApp de soporte.</p>
            <p>2. Recibirás tus credenciales en menos de 10 minutos.</p>
        </div>
    </div>
    }
</div>

<!-- Modal de pago -->
@if (isPaymentModalOpen()) {
<div class="modal-overlay" (click)="closePaymentModal()">
    <div class="modal" (click)="$event.stopPropagation()">
        <app-payment-modal [totalToPay]="total()" (close)="closePaymentModal()"></app-payment-modal>
    </div>
</div>
}