<div class="modal-overlay">
    <div class="modal">

        <button class="cerrar" (click)="onClose()">✕</button>

        <h1>Finalizar Pago</h1>

        <p class="info">
            Escanea el código QR o realiza la transferencia al número de teléfono asociado.
        </p>

        <div class="qr-container">
            @for (method of paymentMethods; track method.name) {
            <div class="qr-item">

                <img [src]="method.qrUrl" [alt]="method.name + ' QR'" class="qr">

                <div class="method-details-container">

                    <h1 class="method-name">{{ method.name }}</h1>

                    <div class="number-copy-group">

                        <h3 class="payment-number">{{ method.number }}</h3>

                        <button class="copy-btn icon-btn" (click)="copyToClipboard(method.number)"
                            title="Copiar número de {{ method.name }}">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M16 1H4C2.9 1 2 1.9 2 3v14h2V3h12V1zm3 4H8C6.9 4 6 4.9 6 6v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V6c0-1.1-.9-1.9-2-2zm0 16H8V6h11v14z" />
                            </svg>
                        </button>

                    </div>
                    @if (copyStatus()) {
                    <div class="copy-alert">
                        {{ copyStatus() }}
                    </div>
                    }
                </div>
            </div>
            }
        </div>

        <p class="precio-modal">
            Total a Pagar:
            <strong>{{ totalToPay | currency:'$':'symbol':'1.0-0' }}</strong>
        </p>
    </div>
</div>