.app-footer {
    background-color: #1a1a1a; /* Fondo oscuro elegante */
    color: #f0f0f0;
    padding: 40px 20px;
    border-top: 5px solid #4125d9; /* Línea de color principal */
    margin-top: 25px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; /* Espacio entre secciones */
}

.footer-section {
    flex: 1 1 200px; /* Flexbox para distribución, 200px como base mínima */
}

.footer-section h4 {
    color: #4125d9; /* Título en color principal */
    font-size: 1.2em;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-section p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #bbb;
}

/* Estilos de Enlaces */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    font-size: 0.9em;
    display: block;
    padding: 4px 0;
    transition: color 0.2s;
}

.footer-section ul li a:hover {
    color: #b625d9; /* Color de acento al pasar el ratón */
}

/* Estilos de Iconos Sociales (Ajustar según la implementación de iconos) */
.social-icons a {
    color: #bbb;
    font-size: 1.5em;
    margin-right: 15px;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #4125d9;
}

/* Ajuste Responsivo para móviles */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .footer-section {
        flex: 1 1 100%;
    }
}